.signupScreen{
    max-width: 300px;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    background:rgba(0, 0,0,0.85) ;
}

.signupScreen h1{
    margin-bottom: 14px;
}

.signupScreen > form{
    display: flex;
    flex-direction: column;
}

.signupScreen > form > input{
    height: 40px;
    outline: none;
    margin-bottom: 14px;
}

.signupScreen > form > button {
    background-color: #e50914;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 14px;
}

.signupScreen > form > span{
    margin-bottom: 14px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.signupScreen > form > span::after{
    content: "";
    width: 40px;
    height: 1px;
    position: absolute;
    background: white;
    top: 60%;
    left:-45px;
}


.signupScreen > form > span::before{
    content: "";
    width: 40px;
    height: 1px;
    position: absolute;
    background: white;
    top: 60%;
    right: -45px;
}


.signupScreen_google{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white !important;
    color: black !important;
}

.signupScreen_google > img {
    width:30px;
    height:30px;
    padding-right: 10px;
} 
.signupScreen_signup{
    margin-top: 8px;
}

.signupScreen_grey{
    color: grey;
}

.signupScreen_link{
    font-weight: bold;
}

.signupScreen_link:hover{
    cursor: pointer;
    text-decoration: underline;
}